#cabecera{
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    
}


#titulo1{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
margin-right: 80px;
    
}

#subtitulo{
    font-weight: lighter;
    margin-top: -20px;
}

#enlaces1{
    background-color: #E2494B;
    color: white;
    display: flex;
    flex: auto;
    align-items: center;
    border-radius: 10px;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 200px;
margin-right: 20px;
padding: 10px; 
justify-content: space-around;  

 
}

li{
    list-style-type: none;
    
}
#enlaces1 a{
    text-decoration: none;
    color: white;
    
}



#titulo2{
    font-style: oblique;
    text-align: center;
}

#imagen1{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 50px;
}



#titulo3{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 15px;
    color: white
    
    
}

#titulo3 h2{
    padding: 10px;
    background-color: #E2494B;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
}

#texto1{
    display: flex;
    justify-content: space-evenly;
    padding:10px;
    margin-top: -20px;
}

.parrafo{
    padding: 20px;
}

.parrafo a{
    text-decoration: none;
    color: #E2494B;
}

#titulo4{
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 10px;
    text-align: center;
    background-color: #E2494B;
    color: white;
}

#texto2{
    display: flex;
    justify-content: space-around;
}

#texto2 a{
    text-decoration: none;
    color: #E2494B;
}

.foto{
    
    padding: 10px;
    
    
}

#titulo5{
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 10px;
    text-align: center;
    background-color: #E2494B;
    color: white;
}

#fotografias{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#cos5{
    display: flex;
    background-color: #E2E2E2;
}

.tituloblog{
    color: black;
    margin-left: 25px;
}

.parafoto{
display: flex;
margin-left: 20px;
padding: 5px;


}

.para1{
    display: flex;
    flex-direction: column;
    padding: 10px;
}



.blog{
    margin-bottom: 30px;
}

.parafoto img{
    padding: 4px;
    border: 2px solid black;
}

#lista a{
    text-decoration: none;
    color: #E2494B;
}

#lista{
    margin-left: -15px;
}

#parafo2{
    margin-left: 25px;
}

footer{
    background-color: #E2E2E2;
    padding: 10px;
    
}

#footp{
display: flex;
justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width:1023px){
    #imagen1{
        width: min-content;
        height: min-content;
        
    }
}

    @media screen and (min-width: 320px) and (max-width:1023px){
        #cabecera{
            width: max-content;
            height: max-content;
        }
    }
        @media screen and (min-width: 320px) and (max-width:1023px){
            #texto1{
                width: fit-content;
                display: flex;
                flex-wrap: wrap;

            }
        }
        @media screen and (min-width: 320px) and (max-width:1023px){
            #texto2{
                display: flex;
                flex-wrap: wrap;

            }
        }
            @media screen and (min-width: 320px) and (max-width:1023px){
                #fotografias{
                    display: flex;
                    flex-wrap: wrap;
                    
    
                }
            }
                @media screen and (min-width: 320px) and (max-width:1023px){
                    #cos5{
                        display: flex;
                        flex-wrap: wrap;
                    }
                    }

                    @media screen and (min-width: 320px) and (max-width:425px){
                        #enlaces1{
                            display: flex;
                            flex-direction: column;
                        }
                        }